<div class="ch-mask"></div>
<div class="ch-container-mdModal">
  <div class="ch-header-mdModal ch-clearfix ch-marginBottom">
    <h3 class="ch-center-vert">{{title}}</h3>
    <div class="ch-close-mdModal ch-center-vert">
      <i class="fa fa-times"></i>
    </div>
  </div>


  <div class="ch-content-mdModal ch-marginBottom">
    <div class="ch-dynamicContainer-mdModal clearfix">
     <!-- view dropped in here -->
      <p class="loadingText">Loading</p>
    </div><!-- modal content -->
  </div>
</div>