<style>
.ch-dynamicContainer-mdModal {
    padding: 0;
}

.details-container {
    background-image: url('/images/low_contrast_linen.png');
    color: white;
}

.details-container .title {
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 19px;
    font-family: fantasy;
    padding-bottom: 8px;
}

.villa-pic {
    background-image: url('/images/villa1.jpg');
    background-size: cover;
    height: 389px;
    width: 588px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border: 5px solid white;
    border-radius: 8px;
    margin-bottom: 30px;
}

.villa-title {
    font-size: 18px;
    color: #EDD7A4;
    text-align: center;
    margin-bottom: 25px;
}

.villa-container {
    text-align: center;
}

.villa-container .visit-btn {
    margin: 20px auto;
    width: 111px;
    height: 30px;
    padding-top: 3px;
    background: #2D9CE3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.villa-container .visit-btn:hover {
    background: #65AFDF;
}

.hotel-container {
    text-align: center;
    padding-bottom: 30px;
}

.hotel-title {
    font-size: 18px;
    color: #EDD7A4;
    text-align: center;
    margin-bottom: 25px;
}

.hotel-link {
    background: #50AE50;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 278px;
    border-radius: 7px;
    margin: 0 auto;
    padding-top: 7px;

}

.hotel-link:hover {
    background: #82D582;
}
</style>
<div class="details-container">
    <div class="villa-container">
        <div class="title">Venue</div>
        <div class="villa-title">Villa Siena</div>
        <div class="villa-pic"></div>
        <div>890 West Elliot Road Suite 104, Gilbert, AZ 85233</div>
        <div class="visit-btn">Visit Website</div>
    </div>
    <div class="hotel-container">
        <div class="hotel-title">Hilton Phoenix Chandler</div>
        <div class="hotel-link">Click here to book your hotel with us :)</div>
    </div>
</div>
