<div class="first-view-container">
    <div class="header row">
        <div class="nav col-md-8 center-block">
            <div class="tabs"> 
    			<div class=""><img class='jar' src="/images/valenticons-14.png" alt=""></div>
            	<div class="tab-labels">Our Wedding</div>
            </div>
            <div class="tabs details-tab">
            	<div class=""><img class='rings' src="/images/valenticons-07.png" alt=""></div>
                <div class="tab-labels">Details</div>
            </div>
            <div class="tabs photos-tab"> 
            	<div class=""><img class='candles' src="/images/valenticons-16.png" alt=""></div>
            	<div class="tab-labels">Photos</div>
            </div>
            <div class="tabs registry-tab">
            	<div class=""><img class='glasses' src="/images/valenticons-22.png" alt=""></div>
                <div class="tab-labels">Registry</div>
            </div>
        </div>
    </div>
    <div class="main">
    	<div class="main-content">
    		<div class="main-pic"></div>
    		<div class="main-msg">
    			<div>
	    			<!-- <i class="fa fa-diamond"></i> -->
	    			&nbsp;Danyella and Justin&nbsp;
	    			<!-- <i class="fa fa-gamepad"></i> -->
    			</div>
    			<div>
    				<i class="fa fa-calendar"></i>
    				&nbsp;January 28th, 2016 in Scottsdale AZ
    			</div>
    			<div>
    				<i class="fa fa-bullhorn"></i>
    				&nbsp;35 days to go!</div>
    		</div>
    	</div>	
	




    </div>
</div>
