<style>
	body {
		margin: 0;
		padding: 0;
	}

	img {
		background-size: cover;
		width: 450px;
		height: 300px;
	}

	.slider {
		text-align: left;
		width: 600px;
		overflow: hidden;
	}

	.slider ul {
		width: 10000px;
		list-style: none;
	}

	.slider li {
		float: left;
		/*width: inherit;*/
		/*overflow: hidden;*/
	}
		
	.photos-container div:first-child {
		float: left;
	}	
	.photos-container div:nth-child(2) {
		float: right;
	}	
	.photos-container div:first-child(3) {
	
	}	
	.photos-container div:first-child(4) {
		
	}
</style>

<!-- <div class="slider">
	<ul>
		<li><img src="/images/Engagement1.jpg" alt="image"></li>
		<li><img src="/images/Engagement1.jpg" alt="image"></li>
		<li><img src="/images/Engagement1.jpg" alt="image"></li>
		<li><img src="/images/Engagement1.jpg" alt="image"></li>
	</ul>
</div> -->

<!-- <div id="slider-nav">
	<button class='prev'>Previous</button>
	<button class='next'>Next</button>
</div> -->

<div class="photos-container">
		<div><img src="/images/Engagement1.jpg" alt="image"></div>
		<div><img src="/images/Engagement1.jpg" alt="image"></div>
		<div><img src="/images/Engagement1.jpg" alt="image"></div>
		<div><img src="/images/Engagement1.jpg" alt="image"></div>
</div>