<style>
.ch-dynamicContainer-mdModal {
    padding: 0;
}
.reg-container {
	/*background-image: url('/images/low_contrast_linen.png');*/
}
.target-link {
    background-image: url('/images/Target.jpg');
    background-size: cover;
    height: 92px;
    width: 385px;
    cursor: pointer;
    margin-top: 42px;
}

.pb-link {
    background-image: url('/images/pb.png');
    background-size: cover;
    height: 124px;
    width: 420px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
</style>
<div class="reg-container">
    <div class="target-link"></div>
    <div class="pb-link"></div>
</div>
