<div class="yoda-container container">
    <div class="header">
        <div class="nav row center">
            <div class="tabs col-xs-12 col-md-2 translate">
                <div class="tab-labels">Yoda,</div>
            </div>
            <div class="tabs col-xs-12 col-md-2 translate">
                <div class="tab-labels">May</div>
            </div>
            <div class="tabs col-xs-12 col-md-2 translate">
                <div class="tab-labels">You</div>
            </div>
            <div class="tabs col-xs-12 col-md-2 translate">
                <div class="tab-labels">Be</div>
            </div>
        </div>
    </div>
    <div class="main row">
        <div class="main-content">
            <div class="yoda-text-container">
                <input class=" col-xs-8 col-sm-8 col-md-6 center-block yoda-text" type="text" placeholder="Please.  Enter here, text.">
            </div>
            <div class="yoda-main-pic translate" id="main-pic"></div>
            <div class="yodafy animated infinite pulse"><i class="fa fa-cog fa-spin"></i>&nbsp;Patience. Have you, please.</div>
            <div class="yoda-msg"></div>
        </div>
    </div>
</div>
